flows/flows.json
[{"id":"3e20993d.c684a6","type":"tab","label":"Example flow","disabled":false,"info":""},{"id":"a3c557ef.58bd08","type":"add-light","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"exp-light","position":{"x":0,"y":0,"z":0},"orientation":{"w":1,"x":0,"y":0,"z":0},"scale":{"x":1,"y":1,"z":1},"diffuse":{"r":1,"g":1,"b":1,"a":1},"specular":{"r":1,"g":1,"b":1,"a":1},"range":{"inner_angle":35,"outer_angle":70,"falloff":1},"attenuation":{"range":5000,"constant":1,"linear":0.0009,"quadratic":0.000003},"direction":{"x":0,"y":-1,"z":0},"autophysical":false,"physical":{"raycast":false}}},"x":400,"y":80,"wires":[[]]},{"id":"b18194e4.3e82a8","type":"add-webtable","z":"3e20993d.c684a6","settings":{"create":"init","options":{"id":"webtable-editor","url":"http://localhost:8000/red/","position":{"x":0,"y":700,"z":-500},"orientation":{"x":0,"y":0,"z":0,"w":1},"scale":{"x":1,"y":1,"z":1},"physical":{"raycast":true},"location":"in-game","width":1280,"height":720,"resolution-width":1280,"resolution-height":720,"transparent":true,"zorder":1,"metrics":"pixels","left":0,"top":0,"horizontal-align":"left","vertical-align":"top","inputDisabled":true,"webSecurity":true,"scaleFactor":1,"index":1,"private":true,"urlControls":true,"savedURL":"https://www.google.com/","factoryURL":"https://www.google.com/","autophysical":false,"disableIngamePhysical":false,"directKeyEvent":false,"nodeIntegration":false,"auto-resolution":false},"displayName":"add webtable editor","save":false},"x":160,"y":80,"wires":[[]]},{"id":"f83add76.0f6bd","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"kont.mesh","id":"kont2","position":{"x":-200,"y":100,"z":600},"orientation":{"x":0,"y":0.7071067811865476,"z":0.7071067811865476,"w":0},"scale":{"x":100,"y":200,"z":100},"autophysical":true,"physical":{"raycast":true}},"displayName":"kont2","save":false},"x":190,"y":380,"wires":[[]]},{"id":"4604df93.6cf2e","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"kont.mesh","id":"kont3","position":{"x":-200,"y":100,"z":1100},"orientation":{"x":0,"y":0.7071067811865476,"z":0.7071067811865476,"w":0},"scale":{"x":100,"y":200,"z":100},"autophysical":true,"physical":{"raycast":true}},"displayName":"kont3","save":false},"x":190,"y":420,"wires":[[]]},{"id":"8584e545.415788","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"kont.mesh","id":"kont1","position":{"x":-200,"y":100,"z":100},"orientation":{"x":0,"y":0.7071067811865476,"z":0.7071067811865476,"w":0},"scale":{"x":100,"y":200,"z":100},"autophysical":true,"physical":{"raycast":true}},"displayName":"kont1","save":false},"x":190,"y":320,"wires":[[]]},{"id":"1635c6.f9213a3a","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"kont.mesh","id":"kont4","position":{"x":1200,"y":100,"z":100},"orientation":{"x":0,"y":0.7071067811865476,"z":0.7071067811865476,"w":0},"scale":{"x":100,"y":200,"z":100},"autophysical":true,"physical":{"raycast":true}},"displayName":"kont4","save":false},"x":370,"y":320,"wires":[[]]},{"id":"d679bf1c.a6347","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"kont.mesh","id":"kont5","position":{"x":1200,"y":100,"z":600},"orientation":{"x":0,"y":0.7071067811865476,"z":0.7071067811865476,"w":0},"scale":{"x":100,"y":200,"z":100},"autophysical":true,"physical":{"raycast":true}},"displayName":"kont5","save":false},"x":370,"y":380,"wires":[[]]},{"id":"e7e16c63.353a","type":"add-mesh","z":"3e20993d.c684a6","settings":{"create":"init","options":{"url":"kont.mesh","id":"kont6","position":{"x":1200,"y":100,"z":1100},"orientation":{"x":0,"y":0.7071067811865476,"z":0.7071067811865476,"w":0},"scale":{"x":100,"y":200,"z":100},"autophysical":true,"physical":{"raycast":true}},"displayName":"kont6","save":false},"x":370,"y":420,"wires":[[]]},{"id":"61bded75.9d1044","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"kont1","eventName":"click","displayName":"Kontener 1 katt"},"x":580,"y":220,"wires":[["e9669edb.4df8a"]]},{"id":"e9669edb.4df8a","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":790,"y":220,"wires":[["fcf77b71.efed38"]]},{"id":"fcf77b71.efed38","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>100)\nmsg.payload.z-=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":220,"wires":[["718f6e80.a134c","5a9b8028.2018"]]},{"id":"718f6e80.a134c","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":1210,"y":220,"wires":[[]]},{"id":"5a9b8028.2018","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":320,"wires":[["17bd718e.29e86e","b5d25d98.5e036"]]},{"id":"b5d25d98.5e036","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z==100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":340,"wires":[["91eaec9d.5bf"]]},{"id":"17bd718e.29e86e","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":300,"wires":[["e9669edb.4df8a"]]},{"id":"376b4096.6f2d4","type":"add-mesh-hierarchy","z":"3e20993d.c684a6","parent":{"id":"parent","text":"Daru","icon":"fa fa-certificate","li_attr":{"id":"parent"},"a_attr":{"href":"#","id":"parent_anchor"},"state":{"loaded":true,"opened":true,"selected":true,"disabled":false},"data":{"options":{"url":"Daru.mesh","id":"Daru","position":{"x":500,"y":0,"z":1700},"orientation":{"x":-0.5,"y":-0.5,"z":-0.5,"w":0.5},"scale":{"x":70,"y":70,"z":70},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j1_2","text":"Kar","icon":"fa fa-dot-circle-o","li_attr":{"id":"j1_2"},"a_attr":{"href":"#","id":"j1_2_anchor"},"state":{"loaded":true,"opened":true,"selected":false,"disabled":false},"data":{"options":{"url":"Kar.mesh","id":"Kar","position":{"x":-2,"y":0,"z":4},"orientation":{"x":0,"y":0.7071067811865476,"z":0,"w":0.7071067811865476},"scale":{"x":0.3,"y":3,"z":0.3},"autophysical":true,"physical":{"raycast":true}}},"children":[{"id":"j2_4","text":"Kontener","icon":"fa fa-dot-circle-o","li_attr":{"id":"j2_4"},"a_attr":{"href":"#","id":"j2_4_anchor"},"state":{"loaded":true,"opened":false,"selected":false,"disabled":false},"data":{"options":{"url":"Cube.mesh","id":"Kontpos","position":{"x":-9,"y":0,"z":-26.25},"orientation":{"x":0,"y":0.30077009268453453,"z":0,"w":0.9536966768037606},"scale":{"x":0.0001,"y":0.0001,"z":0.0001},"autophysical":true,"physical":{"raycast":true}}},"children":[],"type":"child"}],"type":"child"}],"type":"root"},"name":"Kontenerdaru","save":false,"create":"init","x":820,"y":80,"wires":[[]]},{"id":"c91f8d8c.178e6","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":970,"y":480,"wires":[["96b6f424.52bdb8","5f041991.05e6c8"]]},{"id":"89694605.7014e8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":480,"wires":[["c91f8d8c.178e6"]]},{"id":"935c0867.2cdbe8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":1290,"y":420,"wires":[[]]},{"id":"96b6f424.52bdb8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.707 && msg.payload.w<=0.707)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":420,"wires":[["935c0867.2cdbe8","89694605.7014e8"]]},{"id":"449e5d4f.c01f94","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":1,"y":0,"z":0,"w":-1},"reference":"absolute","space":"parent","displayName":"setdori"},"x":1290,"y":500,"wires":[[]]},{"id":"5f041991.05e6c8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.707 || msg.payload.w>0.707)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":500,"wires":[["449e5d4f.c01f94","39659be2.7895f4"]]},{"id":"39659be2.7895f4","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":620,"wires":[["d9997296.b1bea"]]},{"id":"d9997296.b1bea","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":620,"wires":[["a913a8b4.5300d8"]]},{"id":"a913a8b4.5300d8","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1150,"y":620,"wires":[["916ddbdc.9d6808","79b37055.ae98a"]]},{"id":"df3c16bb.db21a8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":1450,"y":620,"wires":[[]]},{"id":"916ddbdc.9d6808","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.63)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":620,"wires":[["df3c16bb.db21a8","d9997296.b1bea"]]},{"id":"5d136ef9.a61f9","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":560,"wires":[["8f784c03.da6d3","9c8441f0.06972"]]},{"id":"8f784c03.da6d3","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":2130,"y":560,"wires":[[]]},{"id":"290e9923.06be76","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":560,"wires":[["9c8441f0.06972"]]},{"id":"9c8441f0.06972","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1650,"y":560,"wires":[["70f4fa5d.8664f4","a1e3af86.b3743","b7542f8b.f69c3"]]},{"id":"70f4fa5d.8664f4","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1810,"y":560,"wires":[["5d136ef9.a61f9","ed06d330.b3aff"]]},{"id":"79b37055.ae98a","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.63)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":560,"wires":[["290e9923.06be76"]]},{"id":"ed06d330.b3aff","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1960,"y":500,"wires":[["d90c49a9.fe4c28"]]},{"id":"b7542f8b.f69c3","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"orientation","displayName":"getkontori"},"x":3820,"y":140,"wires":[["8490ec70.0ba77"]]},{"id":"a1e3af86.b3743","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"position","displayName":"getkontpos"},"x":3830,"y":200,"wires":[["856f97a5.ceb1a8"]]},{"id":"856f97a5.ceb1a8","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"kont1","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontpos"},"x":4030,"y":200,"wires":[[]]},{"id":"8490ec70.0ba77","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"kont1","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontori"},"x":4030,"y":140,"wires":[[]]},{"id":"212efc70.116364","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2350,"y":500,"wires":[["b7542f8b.f69c3","a1e3af86.b3743","cbd2e42d.8cd198"]]},{"id":"ab1a6507.096428","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2660,"y":440,"wires":[["3cdb6a66.88ad86","212efc70.116364"]]},{"id":"3cdb6a66.88ad86","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":2810,"y":440,"wires":[[]]},{"id":"cbd2e42d.8cd198","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":2510,"y":500,"wires":[["ab1a6507.096428","b0172939.e39b98"]]},{"id":"b0172939.e39b98","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2660,"y":540,"wires":[["72f71ee8.ff4fe"]]},{"id":"9c82578.98ab2a8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2960,"y":540,"wires":[["5504d7ae.c27028"]]},{"id":"5504d7ae.c27028","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":3210,"y":540,"wires":[["9da09f52.1fe8c","984d66a8.3d8518"]]},{"id":"9da09f52.1fe8c","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z<1700)\nmsg.payload.z+=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3400,"y":540,"wires":[["392c63e3.d7726c","5ef257f5.9effb8"]]},{"id":"392c63e3.d7726c","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":3630,"y":540,"wires":[[]]},{"id":"5ef257f5.9effb8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3210,"y":620,"wires":[["36bd40a3.8fd15","a1e3af86.b3743","b7542f8b.f69c3"]]},{"id":"36bd40a3.8fd15","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=1700)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3400,"y":620,"wires":[["5504d7ae.c27028"]]},{"id":"91eaec9d.5bf","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":400,"wires":[["89694605.7014e8"]]},{"id":"72f71ee8.ff4fe","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":-1,"y":1,"z":1,"w":1},"reference":"absolute","space":"parent","displayName":"setdori"},"x":2810,"y":540,"wires":[["9c82578.98ab2a8"]]},{"id":"d90c49a9.fe4c28","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2150,"y":500,"wires":[["212efc70.116364"]]},{"id":"984d66a8.3d8518","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>=1699)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3400,"y":460,"wires":[["911d1d26.54f8b"]]},{"id":"366982b9.7dde4e","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4100,"y":460,"wires":[["2aad8fd5.95d2f","2c0d9062.67193"]]},{"id":"2aad8fd5.95d2f","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4250,"y":460,"wires":[[]]},{"id":"2c0d9062.67193","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3770,"y":460,"wires":[["2fe38653.5751ea","b7542f8b.f69c3","a1e3af86.b3743"]]},{"id":"2fe38653.5751ea","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":3950,"y":460,"wires":[["366982b9.7dde4e","49bb4ccb.77bc44"]]},{"id":"911d1d26.54f8b","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3570,"y":460,"wires":[["2c0d9062.67193"]]},{"id":"49bb4ccb.77bc44","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4100,"y":520,"wires":[["e1404c74.9072"]]},{"id":"e1404c74.9072","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4270,"y":520,"wires":[["a77a0116.49f45"]]},{"id":"a77a0116.49f45","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4450,"y":520,"wires":[["5d52faf2.96cda4"]]},{"id":"5d52faf2.96cda4","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":4630,"y":520,"wires":[["cf269c1e.3728b","526add4e.f1c224"]]},{"id":"5cfa1295.eb2a9c","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4910,"y":520,"wires":[[]]},{"id":"cf269c1e.3728b","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4760,"y":520,"wires":[["5cfa1295.eb2a9c","a77a0116.49f45"]]},{"id":"5e67bfe5.e8dd7","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"kont2","eventName":"click","displayName":"Kontener 2 katt"},"x":600,"y":780,"wires":[["60e98774.23dfa8"]]},{"id":"60e98774.23dfa8","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":810,"y":780,"wires":[["923ae359.d74e4"]]},{"id":"923ae359.d74e4","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>600)\nmsg.payload.z-=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":780,"wires":[["5eae6081.853a7","57c2ff0b.bb598"]]},{"id":"8ce578fc.dfe5b8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=600)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":860,"wires":[["60e98774.23dfa8"]]},{"id":"5eae6081.853a7","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":1230,"y":780,"wires":[[]]},{"id":"57c2ff0b.bb598","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":880,"wires":[["8ce578fc.dfe5b8","720df4f7.50d1bc"]]},{"id":"720df4f7.50d1bc","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z==600)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":900,"wires":[["ff8b87b4.89b1d8"]]},{"id":"ff8b87b4.89b1d8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":960,"wires":[["4980db88.c45b84"]]},{"id":"4980db88.c45b84","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":1040,"wires":[["b5a4a607.a99da8"]]},{"id":"b5a4a607.a99da8","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":990,"y":1040,"wires":[["ce423464.fe2d68","fae95702.2507e8"]]},{"id":"ce423464.fe2d68","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.707 && msg.payload.w<=0.707)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":980,"wires":[["c2175fed.b6366","4980db88.c45b84"]]},{"id":"fae95702.2507e8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.707 || msg.payload.w>0.707)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1060,"wires":[["aba98927.039178","9e0667ef.d30538"]]},{"id":"c2175fed.b6366","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":1310,"y":980,"wires":[[]]},{"id":"aba98927.039178","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":1,"y":0,"z":0,"w":-1},"reference":"absolute","space":"parent","displayName":"setdori"},"x":1310,"y":1060,"wires":[[]]},{"id":"9e0667ef.d30538","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":1180,"wires":[["4881aefb.1433d"]]},{"id":"4881aefb.1433d","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":1180,"wires":[["9b0d9bf.6547168"]]},{"id":"9b0d9bf.6547168","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1170,"y":1180,"wires":[["77bb9a6d.9ddfc4","fc9b0b05.245488"]]},{"id":"77bb9a6d.9ddfc4","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.63)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1180,"wires":[["89013e04.bad44","4881aefb.1433d"]]},{"id":"fc9b0b05.245488","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.63)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1120,"wires":[["20c48eab.9c3df2"]]},{"id":"89013e04.bad44","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":1470,"y":1180,"wires":[[]]},{"id":"20c48eab.9c3df2","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1490,"y":1120,"wires":[["251bcf1a.973ae"]]},{"id":"251bcf1a.973ae","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1670,"y":1120,"wires":[["68274348.25b13c","89d27e1e.95257","34ba75ab.69b5da"]]},{"id":"eefa05d6.5b92f8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":1120,"wires":[["39d69b0a.43c564","251bcf1a.973ae"]]},{"id":"68274348.25b13c","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1830,"y":1120,"wires":[["eefa05d6.5b92f8","dbd1cbad.9e7598"]]},{"id":"89d27e1e.95257","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"position","displayName":"getkontpos"},"x":3850,"y":760,"wires":[["653d910f.1023a"]]},{"id":"34ba75ab.69b5da","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"orientation","displayName":"getkontori"},"x":3840,"y":700,"wires":[["82f3314b.28637"]]},{"id":"39d69b0a.43c564","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":2150,"y":1120,"wires":[[]]},{"id":"dbd1cbad.9e7598","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":1060,"wires":[["666d92ea.bdf01c"]]},{"id":"653d910f.1023a","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"kont2","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontpos"},"x":4050,"y":760,"wires":[[]]},{"id":"54b997d5.566a98","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2370,"y":1060,"wires":[["34ba75ab.69b5da","89d27e1e.95257","380a1bb9.f18a74"]]},{"id":"b62a0d0f.a5fbf","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3230,"y":1180,"wires":[["4e5518de.75d408","89d27e1e.95257","34ba75ab.69b5da"]]},{"id":"918c84e6.ad5228","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3790,"y":1020,"wires":[["c84e611.c79bda","34ba75ab.69b5da","89d27e1e.95257"]]},{"id":"82f3314b.28637","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"kont2","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontori"},"x":4050,"y":700,"wires":[[]]},{"id":"666d92ea.bdf01c","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2170,"y":1060,"wires":[["54b997d5.566a98"]]},{"id":"380a1bb9.f18a74","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":2530,"y":1060,"wires":[["42571a39.1f2184","6eb48358.afb5dc"]]},{"id":"42571a39.1f2184","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":1000,"wires":[["a5145a0b.9a5bd8","54b997d5.566a98"]]},{"id":"62e00632.179508","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z<1700)\nmsg.payload.z+=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":1100,"wires":[["af7803ce.0262c","b62a0d0f.a5fbf"]]},{"id":"4e5518de.75d408","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=1700)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":1180,"wires":[["ecb4904e.3ba53"]]},{"id":"4abbeccc.d30ce4","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4120,"y":1020,"wires":[["583b2038.96e9d","918c84e6.ad5228"]]},{"id":"c84e611.c79bda","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":3970,"y":1020,"wires":[["4abbeccc.d30ce4","e047102e.2849b"]]},{"id":"ce3f3110.31f27","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3590,"y":1020,"wires":[["918c84e6.ad5228"]]},{"id":"6eb48358.afb5dc","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":1100,"wires":[["1f4fa37f.d391ad"]]},{"id":"a5145a0b.9a5bd8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":2830,"y":1000,"wires":[[]]},{"id":"ecb4904e.3ba53","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":3230,"y":1100,"wires":[["62e00632.179508","407193f0.db8e3c"]]},{"id":"af7803ce.0262c","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":3650,"y":1100,"wires":[[]]},{"id":"583b2038.96e9d","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4270,"y":1020,"wires":[[]]},{"id":"e047102e.2849b","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4120,"y":1080,"wires":[["ca9386a5.747d08"]]},{"id":"407193f0.db8e3c","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>=1699)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":1020,"wires":[["ce3f3110.31f27"]]},{"id":"1f4fa37f.d391ad","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":-1,"y":1,"z":1,"w":1},"reference":"absolute","space":"parent","displayName":"setdori"},"x":2830,"y":1100,"wires":[["8743e1b1.74b96"]]},{"id":"8743e1b1.74b96","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2980,"y":1100,"wires":[["ecb4904e.3ba53"]]},{"id":"ca9386a5.747d08","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4290,"y":1080,"wires":[["5d293422.95c29c"]]},{"id":"5d293422.95c29c","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4470,"y":1080,"wires":[["7c93b1d6.d5fd8"]]},{"id":"7c93b1d6.d5fd8","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":4630,"y":1080,"wires":[["a4f4d30a.f797a","70ab24d2.c0892c"]]},{"id":"a4f4d30a.f797a","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4780,"y":1080,"wires":[["16802b9e.b7ca84","5d293422.95c29c"]]},{"id":"16802b9e.b7ca84","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4930,"y":1080,"wires":[[]]},{"id":"a7e7f191.ab985","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"kont3","eventName":"click","displayName":"Kontener 3 katt"},"x":600,"y":1360,"wires":[["34ca8fd6.91af4"]]},{"id":"34ca8fd6.91af4","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":810,"y":1360,"wires":[["582d27.e9ddc2d8"]]},{"id":"582d27.e9ddc2d8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>1100)\nmsg.payload.z-=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1360,"wires":[["f149a61b.3bb848","2821b84c.b6b878"]]},{"id":"fc877590.2f12d8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=1100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1440,"wires":[["34ca8fd6.91af4"]]},{"id":"f149a61b.3bb848","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":1230,"y":1360,"wires":[[]]},{"id":"2821b84c.b6b878","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":1460,"wires":[["fc877590.2f12d8","1b3d3b2.b58edc5"]]},{"id":"1b3d3b2.b58edc5","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z==1100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":1480,"wires":[["1f315c8d.40ec13"]]},{"id":"1f315c8d.40ec13","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":1540,"wires":[["7ee373cb.71af8c"]]},{"id":"7ee373cb.71af8c","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":1620,"wires":[["1dec5af9.5e9e35"]]},{"id":"1dec5af9.5e9e35","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":990,"y":1620,"wires":[["bc26b3be.972f6","f17da2a1.7cb8b"]]},{"id":"bc26b3be.972f6","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.707 && msg.payload.w<=0.707)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1560,"wires":[["6f969046.2bb9","7ee373cb.71af8c"]]},{"id":"f17da2a1.7cb8b","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.707 || msg.payload.w>0.707)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1640,"wires":[["791df1d0.73fa9","952f0b07.b39498"]]},{"id":"6f969046.2bb9","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":1310,"y":1560,"wires":[[]]},{"id":"791df1d0.73fa9","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":1,"y":0,"z":0,"w":-1},"reference":"absolute","space":"parent","displayName":"setdori"},"x":1310,"y":1640,"wires":[[]]},{"id":"952f0b07.b39498","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":1760,"wires":[["7ad9bd2e.5b89f4"]]},{"id":"7ad9bd2e.5b89f4","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":1760,"wires":[["3453d5b8.15d51a"]]},{"id":"3453d5b8.15d51a","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1170,"y":1760,"wires":[["79fda46f.75d9cc","7f3a9865.aa6448"]]},{"id":"79fda46f.75d9cc","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.63)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1760,"wires":[["ad789557.d1dba8","7ad9bd2e.5b89f4"]]},{"id":"7f3a9865.aa6448","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.63)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":1700,"wires":[["36eeddca.228502"]]},{"id":"ad789557.d1dba8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":1470,"y":1760,"wires":[[]]},{"id":"36eeddca.228502","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1490,"y":1700,"wires":[["106e5b18.e04e35"]]},{"id":"106e5b18.e04e35","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1670,"y":1700,"wires":[["48077706.b425c8","ac18ba7d.659ef8","d6357264.7f65"]]},{"id":"da975ff8.54fd6","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":1700,"wires":[["f6458318.daa6c","106e5b18.e04e35"]]},{"id":"48077706.b425c8","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1830,"y":1700,"wires":[["da975ff8.54fd6","c9bb45a.ca0e8b8"]]},{"id":"ac18ba7d.659ef8","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"position","displayName":"getkontpos"},"x":3850,"y":1340,"wires":[["885ed4e5.78deb8"]]},{"id":"d6357264.7f65","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"orientation","displayName":"getkontori"},"x":3840,"y":1280,"wires":[["745be029.044"]]},{"id":"f6458318.daa6c","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":2150,"y":1700,"wires":[[]]},{"id":"c9bb45a.ca0e8b8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":1640,"wires":[["1233fc2f.fb9324"]]},{"id":"885ed4e5.78deb8","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"kont3","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontpos"},"x":4050,"y":1340,"wires":[[]]},{"id":"cacd4c9c.460f7","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2370,"y":1640,"wires":[["d6357264.7f65","ac18ba7d.659ef8","f22ef328.9b894"]]},{"id":"118960a7.2429df","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3230,"y":1760,"wires":[["ff526008.29d61","ac18ba7d.659ef8","d6357264.7f65"]]},{"id":"71eefd55.e38a94","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3790,"y":1600,"wires":[["941cc9c2.97ff38","d6357264.7f65","ac18ba7d.659ef8"]]},{"id":"745be029.044","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"kont3","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontori"},"x":4050,"y":1280,"wires":[[]]},{"id":"1233fc2f.fb9324","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2170,"y":1640,"wires":[["cacd4c9c.460f7"]]},{"id":"f22ef328.9b894","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":2530,"y":1640,"wires":[["3ba9d3b8.2daf2c","cdce073c.bb2368"]]},{"id":"3ba9d3b8.2daf2c","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":1580,"wires":[["e1c785d7.5c68f8","cacd4c9c.460f7"]]},{"id":"c0ef5a13.0f4d28","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z<1700)\nmsg.payload.z+=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":1680,"wires":[["feb54936.bce978","118960a7.2429df"]]},{"id":"ff526008.29d61","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=1700)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":1760,"wires":[["842f3150.c91bd"]]},{"id":"8a589d6c.41188","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4120,"y":1600,"wires":[["9d0cc3cf.9000f","71eefd55.e38a94"]]},{"id":"941cc9c2.97ff38","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":3970,"y":1600,"wires":[["8a589d6c.41188","40a12a46.f08154"]]},{"id":"c7969fb3.ddf19","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3590,"y":1600,"wires":[["71eefd55.e38a94"]]},{"id":"cdce073c.bb2368","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":1680,"wires":[["a1e8221c.c40bb"]]},{"id":"e1c785d7.5c68f8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":2830,"y":1580,"wires":[[]]},{"id":"842f3150.c91bd","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":3230,"y":1680,"wires":[["c0ef5a13.0f4d28","ef7ba665.bcc6a8"]]},{"id":"feb54936.bce978","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":3650,"y":1680,"wires":[[]]},{"id":"9d0cc3cf.9000f","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4270,"y":1600,"wires":[[]]},{"id":"40a12a46.f08154","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4120,"y":1660,"wires":[["d3ffe7f9.a757d8"]]},{"id":"ef7ba665.bcc6a8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>=1699)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":1600,"wires":[["c7969fb3.ddf19"]]},{"id":"a1e8221c.c40bb","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":-1,"y":1,"z":1,"w":1},"reference":"absolute","space":"parent","displayName":"setdori"},"x":2830,"y":1680,"wires":[["8eaa7980.e50ab8"]]},{"id":"8eaa7980.e50ab8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2980,"y":1680,"wires":[["842f3150.c91bd"]]},{"id":"d3ffe7f9.a757d8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4290,"y":1660,"wires":[["b4084ad.1f280b8"]]},{"id":"b4084ad.1f280b8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4470,"y":1660,"wires":[["c0dfc231.00bab"]]},{"id":"c0dfc231.00bab","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":4650,"y":1660,"wires":[["8962ba86.71d108","60e01ccf.caade4"]]},{"id":"8962ba86.71d108","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4780,"y":1660,"wires":[["93b84db4.766ba","b4084ad.1f280b8"]]},{"id":"93b84db4.766ba","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4930,"y":1660,"wires":[[]]},{"id":"7f42deb5.6e6f6","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4760,"y":740,"wires":[["1e3ed933.261cd7","43c5b78c.9c58c8"]]},{"id":"98ba907f.8c7e1","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":4610,"y":740,"wires":[["7f42deb5.6e6f6","f514513d.5e8e"]]},{"id":"1e3ed933.261cd7","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4450,"y":740,"wires":[["98ba907f.8c7e1"]]},{"id":"43c5b78c.9c58c8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":4930,"y":740,"wires":[[]]},{"id":"b8815309.22f8b","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4270,"y":740,"wires":[["1e3ed933.261cd7"]]},{"id":"526add4e.f1c224","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4700,"y":600,"wires":[["b8815309.22f8b"]]},{"id":"70ab24d2.c0892c","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4580,"y":920,"wires":[["b8815309.22f8b"]]},{"id":"60e01ccf.caade4","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4580,"y":1540,"wires":[["b8815309.22f8b"]]},{"id":"f514513d.5e8e","type":"debug","z":"3e20993d.c684a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":4770,"y":820,"wires":[]},{"id":"e32b49e5.30f278","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"kont4","eventName":"click","displayName":"Kontener 4 katt"},"x":580,"y":1980,"wires":[["6f160f1f.b4daa"]]},{"id":"6f160f1f.b4daa","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":790,"y":1980,"wires":[["b358087f.16b8f8"]]},{"id":"b358087f.16b8f8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>100)\nmsg.payload.z-=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1980,"wires":[["de369d58.8625b","1d503e05.570d82"]]},{"id":"c15c823a.647a2","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":2060,"wires":[["6f160f1f.b4daa"]]},{"id":"de369d58.8625b","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":1210,"y":1980,"wires":[[]]},{"id":"1d503e05.570d82","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":2080,"wires":[["c15c823a.647a2","3686ffec.89f3"]]},{"id":"3686ffec.89f3","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z==100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":2100,"wires":[["d8c1a4d.a810658"]]},{"id":"d8c1a4d.a810658","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":2160,"wires":[["13d4075.6e335f9"]]},{"id":"13d4075.6e335f9","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":2240,"wires":[["34fc1a71.659006"]]},{"id":"34fc1a71.659006","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":970,"y":2240,"wires":[["e9fe07b8.949098","cbc96e2d.ca714"]]},{"id":"e9fe07b8.949098","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":2180,"wires":[["dfb6060.8a365f8","13d4075.6e335f9"]]},{"id":"cbc96e2d.ca714","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":2260,"wires":[["143f0d71.b68cb3","a1a15ecf.84c5e"]]},{"id":"dfb6060.8a365f8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":1290,"y":2180,"wires":[[]]},{"id":"a1a15ecf.84c5e","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":0,"y":-1,"z":-1,"w":0},"reference":"absolute","space":"parent","displayName":"setdori"},"x":1290,"y":2260,"wires":[[]]},{"id":"143f0d71.b68cb3","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":2380,"wires":[["45bfa3e0.fd957c"]]},{"id":"45bfa3e0.fd957c","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":2380,"wires":[["c3baed24.b11bd"]]},{"id":"c3baed24.b11bd","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1150,"y":2380,"wires":[["9caf6c35.b8141","ad1e6ac.7dbe398"]]},{"id":"9caf6c35.b8141","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.32)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":2380,"wires":[["a672fc60.72088","45bfa3e0.fd957c"]]},{"id":"ad1e6ac.7dbe398","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.32)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":2320,"wires":[["ac140a01.c27958"]]},{"id":"a672fc60.72088","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":1450,"y":2380,"wires":[[]]},{"id":"ac140a01.c27958","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1470,"y":2320,"wires":[["8f56170a.d272c8"]]},{"id":"8f56170a.d272c8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1650,"y":2320,"wires":[["47d1650a.4ce91c","d84edfa7.cd947","435517ba.5270b8"]]},{"id":"4c4d4ede.d2375","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":2320,"wires":[["e525d4fc.977d18","8f56170a.d272c8"]]},{"id":"47d1650a.4ce91c","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1810,"y":2320,"wires":[["4c4d4ede.d2375","9e4e0870.dee258"]]},{"id":"d84edfa7.cd947","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"position","displayName":"getkontpos"},"x":3830,"y":1960,"wires":[["1ae9aec3.e9b601"]]},{"id":"435517ba.5270b8","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"orientation","displayName":"getkontori"},"x":3820,"y":1900,"wires":[["34401d75.d26a22"]]},{"id":"e525d4fc.977d18","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":2130,"y":2320,"wires":[[]]},{"id":"9e4e0870.dee258","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1960,"y":2260,"wires":[["9cc67872.0a1e18"]]},{"id":"1ae9aec3.e9b601","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"kont4","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontpos"},"x":4030,"y":1960,"wires":[[]]},{"id":"29403f5c.a6773","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2350,"y":2260,"wires":[["435517ba.5270b8","d84edfa7.cd947","3a0a4125.ded63e"]]},{"id":"1e964a5b.60ede6","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3210,"y":2380,"wires":[["dbebe24a.14914","d84edfa7.cd947","435517ba.5270b8"]]},{"id":"9055454f.7601f8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3770,"y":2220,"wires":[["82cd328c.268c6","435517ba.5270b8","d84edfa7.cd947"]]},{"id":"34401d75.d26a22","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"kont4","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontori"},"x":4030,"y":1900,"wires":[[]]},{"id":"9cc67872.0a1e18","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2150,"y":2260,"wires":[["29403f5c.a6773"]]},{"id":"3a0a4125.ded63e","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":2510,"y":2260,"wires":[["f9c071fe.8784e","87026d9a.cabac"]]},{"id":"f9c071fe.8784e","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2660,"y":2200,"wires":[["7e038264.4ed57c","29403f5c.a6773"]]},{"id":"6d3d2af.904d1d4","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z<1700)\nmsg.payload.z+=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3400,"y":2300,"wires":[["5133e530.9fe51c","1e964a5b.60ede6"]]},{"id":"dbebe24a.14914","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=1700)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3400,"y":2380,"wires":[["b8c88883.d96f38"]]},{"id":"1cf21f84.77917","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4100,"y":2220,"wires":[["1d0ca3ea.d268ac","9055454f.7601f8"]]},{"id":"82cd328c.268c6","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":3950,"y":2220,"wires":[["1cf21f84.77917","d440f531.2aead8"]]},{"id":"c8e7a4ad.e8a588","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3570,"y":2220,"wires":[["9055454f.7601f8"]]},{"id":"87026d9a.cabac","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2660,"y":2300,"wires":[["eed226cf.c53a58"]]},{"id":"7e038264.4ed57c","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":2810,"y":2200,"wires":[[]]},{"id":"b8c88883.d96f38","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":3210,"y":2300,"wires":[["6d3d2af.904d1d4","5d489128.abfe3"]]},{"id":"5133e530.9fe51c","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":3630,"y":2300,"wires":[[]]},{"id":"1d0ca3ea.d268ac","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4250,"y":2220,"wires":[[]]},{"id":"d440f531.2aead8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4100,"y":2280,"wires":[["5cec1fb3.06f45"]]},{"id":"5d489128.abfe3","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>=1699)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3400,"y":2220,"wires":[["c8e7a4ad.e8a588"]]},{"id":"eed226cf.c53a58","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":-1,"y":1,"z":1,"w":1},"reference":"absolute","space":"parent","displayName":"setdori"},"x":2810,"y":2300,"wires":[["6b0f8bb1.bfbbb4"]]},{"id":"6b0f8bb1.bfbbb4","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2960,"y":2300,"wires":[["b8c88883.d96f38"]]},{"id":"5cec1fb3.06f45","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4270,"y":2280,"wires":[["44ea20e6.ce73e"]]},{"id":"44ea20e6.ce73e","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4450,"y":2280,"wires":[["e28bb9f5.3889a8"]]},{"id":"e28bb9f5.3889a8","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":4630,"y":2280,"wires":[["85159e47.63931","6dc7ae15.45ace"]]},{"id":"85159e47.63931","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4760,"y":2280,"wires":[["12cdd7f5.2c59c8","44ea20e6.ce73e"]]},{"id":"6dc7ae15.45ace","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4700,"y":2360,"wires":[["ddd90d45.c8bd3"]]},{"id":"12cdd7f5.2c59c8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4910,"y":2280,"wires":[[]]},{"id":"ddd90d45.c8bd3","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4270,"y":2500,"wires":[["737e0779.61f6d8"]]},{"id":"737e0779.61f6d8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4450,"y":2500,"wires":[["3b53d741.a53da8"]]},{"id":"881f704d.e83b","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4580,"y":2680,"wires":[["ddd90d45.c8bd3"]]},{"id":"ed5a9a2c.89c678","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4580,"y":3300,"wires":[["ddd90d45.c8bd3"]]},{"id":"76794827.02a868","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4760,"y":2500,"wires":[["737e0779.61f6d8","9f56369e.0c1198"]]},{"id":"3b53d741.a53da8","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":4610,"y":2500,"wires":[["76794827.02a868","c5ab7fc5.eafaa"]]},{"id":"69a6e449.af147c","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":4630,"y":2840,"wires":[["bdc29aa7.fc3668","881f704d.e83b"]]},{"id":"b82509d5.e80268","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":4650,"y":3420,"wires":[["2854f613.f68fda","ed5a9a2c.89c678"]]},{"id":"9f56369e.0c1198","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":4930,"y":2500,"wires":[[]]},{"id":"c5ab7fc5.eafaa","type":"debug","z":"3e20993d.c684a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":4770,"y":2580,"wires":[]},{"id":"2bb56ee3.646072","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4470,"y":2840,"wires":[["69a6e449.af147c"]]},{"id":"bdc29aa7.fc3668","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4780,"y":2840,"wires":[["7ef54cc3.330ac4","2bb56ee3.646072"]]},{"id":"9c190e15.41497","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4470,"y":3420,"wires":[["b82509d5.e80268"]]},{"id":"2854f613.f68fda","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4780,"y":3420,"wires":[["70acac4a.81d024","9c190e15.41497"]]},{"id":"37f8b508.32359a","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4290,"y":2840,"wires":[["2bb56ee3.646072"]]},{"id":"7ef54cc3.330ac4","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4930,"y":2840,"wires":[[]]},{"id":"2aa0f4c8.2fb23c","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":4290,"y":3420,"wires":[["9c190e15.41497"]]},{"id":"70acac4a.81d024","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4930,"y":3420,"wires":[[]]},{"id":"382312c5.26ab8e","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4120,"y":2840,"wires":[["37f8b508.32359a"]]},{"id":"159250bb.26029f","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4120,"y":3420,"wires":[["2aa0f4c8.2fb23c"]]},{"id":"95ee1b71.28b188","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":3970,"y":2780,"wires":[["bb3ca6e3.8b87d8","382312c5.26ab8e"]]},{"id":"3645396d.3c2036","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":3970,"y":3360,"wires":[["d9de8c34.64781","159250bb.26029f"]]},{"id":"fcda98be.e6fc58","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3790,"y":2780,"wires":[["95ee1b71.28b188","f46780aa.9411","749b22b2.cfd66c"]]},{"id":"bb3ca6e3.8b87d8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4120,"y":2780,"wires":[["30d21dc8.d7c0d2","fcda98be.e6fc58"]]},{"id":"78fd607e.bdfe9","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3790,"y":3360,"wires":[["3645396d.3c2036","5774cf90.7f97b","ef321711.3abb08"]]},{"id":"d9de8c34.64781","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.225)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4120,"y":3360,"wires":[["adfd16d8.8aef18","78fd607e.bdfe9"]]},{"id":"f46780aa.9411","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"orientation","displayName":"getkontori"},"x":3840,"y":2460,"wires":[["e9334afa.dad398"]]},{"id":"749b22b2.cfd66c","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"position","displayName":"getkontpos"},"x":3850,"y":2520,"wires":[["ac62b880.a266c8"]]},{"id":"a04d1c41.c3af5","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3590,"y":2780,"wires":[["fcda98be.e6fc58"]]},{"id":"30d21dc8.d7c0d2","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4270,"y":2780,"wires":[[]]},{"id":"5774cf90.7f97b","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"orientation","displayName":"getkontori"},"x":3840,"y":3040,"wires":[["96bce2c5.ee41a"]]},{"id":"ef321711.3abb08","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kontpos","prop":"position","displayName":"getkontpos"},"x":3850,"y":3100,"wires":[["7fc54fd6.2202"]]},{"id":"2ed3172d.fc5438","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3590,"y":3360,"wires":[["78fd607e.bdfe9"]]},{"id":"adfd16d8.8aef18","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":4270,"y":3360,"wires":[[]]},{"id":"39ac1575.cafe5a","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1670,"y":2880,"wires":[["fa1a6c70.9d702","749b22b2.cfd66c","f46780aa.9411"]]},{"id":"e9334afa.dad398","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"kont5","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontori"},"x":4050,"y":2460,"wires":[[]]},{"id":"e677366d.e98be8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2370,"y":2820,"wires":[["f46780aa.9411","749b22b2.cfd66c","7b6b4d82.e81c44"]]},{"id":"a329c0b.e39b64","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3230,"y":2940,"wires":[["93b3e23b.725c","749b22b2.cfd66c","f46780aa.9411"]]},{"id":"ac62b880.a266c8","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"kont5","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontpos"},"x":4050,"y":2520,"wires":[[]]},{"id":"3a3d0139.a0b05e","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>=1699)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":2780,"wires":[["a04d1c41.c3af5"]]},{"id":"ce43e6b0.69e468","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1670,"y":3460,"wires":[["a91bf3fe.e3adc","ef321711.3abb08","5774cf90.7f97b"]]},{"id":"96bce2c5.ee41a","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"kont6","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontori"},"x":4050,"y":3040,"wires":[[]]},{"id":"27aa94ff.83cf0c","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2370,"y":3400,"wires":[["5774cf90.7f97b","ef321711.3abb08","17c263d8.f0afec"]]},{"id":"341e9283.cba6ee","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":3230,"y":3520,"wires":[["34122c7c.ba3574","ef321711.3abb08","5774cf90.7f97b"]]},{"id":"7fc54fd6.2202","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"kont6","mode":"fromInput","reference":"absolute","space":"parent","displayName":"setkontpos"},"x":4050,"y":3100,"wires":[[]]},{"id":"f857b967.202bc8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>=1699)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":3360,"wires":[["2ed3172d.fc5438"]]},{"id":"3a06717b.ef81fe","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1490,"y":2880,"wires":[["39ac1575.cafe5a"]]},{"id":"fa1a6c70.9d702","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1830,"y":2880,"wires":[["4040bf01.7943b","4d8dc43d.0b73bc"]]},{"id":"4040bf01.7943b","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":2880,"wires":[["de2cbc4d.4a7b4","39ac1575.cafe5a"]]},{"id":"7b6b4d82.e81c44","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":2530,"y":2820,"wires":[["2d7ee7eb.8987d8","31d7d745.bbf5c8"]]},{"id":"a34e4531.280628","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2170,"y":2820,"wires":[["e677366d.e98be8"]]},{"id":"2d7ee7eb.8987d8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":2760,"wires":[["89102ace.4d5c38","e677366d.e98be8"]]},{"id":"93b3e23b.725c","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=1700)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":2940,"wires":[["d1299740.67ed28"]]},{"id":"e286c6b8.b4b188","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z<1700)\nmsg.payload.z+=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":2860,"wires":[["9617065e.0b3818","a329c0b.e39b64"]]},{"id":"d1299740.67ed28","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":3230,"y":2860,"wires":[["e286c6b8.b4b188","3a3d0139.a0b05e"]]},{"id":"87742b6a.2f52b8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1490,"y":3460,"wires":[["ce43e6b0.69e468"]]},{"id":"a91bf3fe.e3adc","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1830,"y":3460,"wires":[["52ddd4fa.11590c","26abac9b.81d344"]]},{"id":"52ddd4fa.11590c","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2000,"y":3460,"wires":[["de045cdd.639f6","ce43e6b0.69e468"]]},{"id":"17c263d8.f0afec","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":2530,"y":3400,"wires":[["e3d2da3c.6a5a18","9ff3e0cf.18e5f"]]},{"id":"ea37d15e.66521","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2170,"y":3400,"wires":[["27aa94ff.83cf0c"]]},{"id":"e3d2da3c.6a5a18","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":3340,"wires":[["54e42e2a.d2819","27aa94ff.83cf0c"]]},{"id":"34122c7c.ba3574","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=1700)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":3520,"wires":[["e6943d3c.82c02"]]},{"id":"4cb28737.9782a8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z<1700)\nmsg.payload.z+=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3420,"y":3440,"wires":[["dc906e2f.32fa3","341e9283.cba6ee"]]},{"id":"e6943d3c.82c02","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":3230,"y":3440,"wires":[["4cb28737.9782a8","f857b967.202bc8"]]},{"id":"b535503e.7248e","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.32)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":2880,"wires":[["3a06717b.ef81fe"]]},{"id":"4d8dc43d.0b73bc","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":2820,"wires":[["a34e4531.280628"]]},{"id":"de2cbc4d.4a7b4","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":2150,"y":2880,"wires":[[]]},{"id":"31d7d745.bbf5c8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":2860,"wires":[["6362e3d4.80cd9c"]]},{"id":"89102ace.4d5c38","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":2830,"y":2760,"wires":[[]]},{"id":"9617065e.0b3818","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":3650,"y":2860,"wires":[[]]},{"id":"fdf0dfc5.f209","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2980,"y":2860,"wires":[["d1299740.67ed28"]]},{"id":"960f79fc.3b1bd8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<0.32)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":3460,"wires":[["87742b6a.2f52b8"]]},{"id":"26abac9b.81d344","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1980,"y":3400,"wires":[["ea37d15e.66521"]]},{"id":"de045cdd.639f6","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":2150,"y":3460,"wires":[[]]},{"id":"9ff3e0cf.18e5f","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=-0.5)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2680,"y":3440,"wires":[["70c34897.08f5f8"]]},{"id":"54e42e2a.d2819","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":2830,"y":3340,"wires":[[]]},{"id":"dc906e2f.32fa3","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":3650,"y":3440,"wires":[[]]},{"id":"b715bc7f.0c5b2","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"300","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2980,"y":3440,"wires":[["e6943d3c.82c02"]]},{"id":"3d8502ac.c4451e","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1170,"y":2940,"wires":[["4efca147.8d28","b535503e.7248e"]]},{"id":"6362e3d4.80cd9c","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":-1,"y":1,"z":1,"w":1},"reference":"absolute","space":"parent","displayName":"setdori"},"x":2830,"y":2860,"wires":[["fdf0dfc5.f209"]]},{"id":"589d6a0d.9caac4","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","prop":"orientation","displayName":"getkori"},"x":1170,"y":3520,"wires":[["853650c.a3adcb","960f79fc.3b1bd8"]]},{"id":"70c34897.08f5f8","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":-1,"y":1,"z":1,"w":1},"reference":"absolute","space":"parent","displayName":"setdori"},"x":2830,"y":3440,"wires":[["b715bc7f.0c5b2"]]},{"id":"9d518d6a.8225f","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":2940,"wires":[["3d8502ac.c4451e"]]},{"id":"4efca147.8d28","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.32)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":2940,"wires":[["1c3ac1a1.46ce3e","9d518d6a.8225f"]]},{"id":"c3798221.e6161","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1010,"y":3520,"wires":[["589d6a0d.9caac4"]]},{"id":"853650c.a3adcb","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>=0.32)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":3520,"wires":[["bd405f53.da49c","c3798221.e6161"]]},{"id":"c458461f.2130f8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":2940,"wires":[["9d518d6a.8225f"]]},{"id":"1c3ac1a1.46ce3e","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":1470,"y":2940,"wires":[[]]},{"id":"8b151a2.9ec2fe8","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":3520,"wires":[["c3798221.e6161"]]},{"id":"bd405f53.da49c","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Kar","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setkori"},"x":1470,"y":3520,"wires":[[]]},{"id":"75062982.79f518","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":2820,"wires":[["d4a90800.249068","c458461f.2130f8"]]},{"id":"f8bad462.00d238","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w<=0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":3400,"wires":[["68bfc30b.3ac91c","8b151a2.9ec2fe8"]]},{"id":"d3ef5abc.d3d418","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":990,"y":2800,"wires":[["6cf3c3b4.297a4c","75062982.79f518"]]},{"id":"d4a90800.249068","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":0,"y":-1,"z":-1,"w":0},"reference":"absolute","space":"parent","displayName":"setdori"},"x":1310,"y":2820,"wires":[[]]},{"id":"3947767c.c909da","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"orientation","displayName":"getdori"},"x":990,"y":3380,"wires":[["d327f368.99e85","f8bad462.00d238"]]},{"id":"68bfc30b.3ac91c","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"quaternion","quaternion":{"x":0,"y":-1,"z":-1,"w":0},"reference":"absolute","space":"parent","displayName":"setdori"},"x":1310,"y":3400,"wires":[[]]},{"id":"dd876d19.2259a","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":2800,"wires":[["d3ef5abc.d3d418"]]},{"id":"6cf3c3b4.297a4c","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":2740,"wires":[["fbae4c5d.8f022","dd876d19.2259a"]]},{"id":"be28b76.2118648","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":3380,"wires":[["3947767c.c909da"]]},{"id":"d327f368.99e85","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.w>0)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":3320,"wires":[["b48de3c0.cf65","be28b76.2118648"]]},{"id":"64c8dbe.0ce7524","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":2720,"wires":[["dd876d19.2259a"]]},{"id":"fbae4c5d.8f022","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":1310,"y":2740,"wires":[[]]},{"id":"af627ca5.52249","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":3300,"wires":[["be28b76.2118648"]]},{"id":"b48de3c0.cf65","type":"set-orientation","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"local","oriType":"angle-axis","angle-axis":{"angle":-1,"axis":{"x":0,"y":1,"z":0}},"reference":"relative","space":"parent","displayName":"setdori"},"x":1310,"y":3320,"wires":[[]]},{"id":"eaa17be2.b33138","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z==600)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":2660,"wires":[["64c8dbe.0ce7524"]]},{"id":"aed8cbe2.3a2108","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z==1100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":3240,"wires":[["af627ca5.52249"]]},{"id":"a8581bd8.9abb78","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":2640,"wires":[["c6475532.293118","eaa17be2.b33138"]]},{"id":"ad709b1f.909748","type":"delay","z":"3e20993d.c684a6","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":3220,"wires":[["de770800.4a61a8","aed8cbe2.3a2108"]]},{"id":"f3c05d75.bcaf6","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>600)\nmsg.payload.z-=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":2540,"wires":[["25133dd6.4cdc12","a8581bd8.9abb78"]]},{"id":"c6475532.293118","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=600)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":2620,"wires":[["11dca5b0.0d452a"]]},{"id":"18245e5c.2e7572","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z>1100)\nmsg.payload.z-=1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":3120,"wires":[["636ef930.de8e48","ad709b1f.909748"]]},{"id":"de770800.4a61a8","type":"function","z":"3e20993d.c684a6","name":"","func":"if (msg.payload.z!=1100)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":3200,"wires":[["de5d47d5.472e38"]]},{"id":"11dca5b0.0d452a","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":810,"y":2540,"wires":[["f3c05d75.bcaf6"]]},{"id":"25133dd6.4cdc12","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":1230,"y":2540,"wires":[[]]},{"id":"de5d47d5.472e38","type":"get-node-property","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","prop":"position","displayName":"getdarupos"},"x":810,"y":3120,"wires":[["18245e5c.2e7572"]]},{"id":"636ef930.de8e48","type":"set-position","z":"3e20993d.c684a6","settings":{"nodeid":"Daru","mode":"fromInput","reference":"absolute","space":"parent","displayName":"ddpos"},"x":1230,"y":3120,"wires":[[]]},{"id":"25489d31.d1b202","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"kont5","eventName":"click","displayName":"Kontener 5 katt"},"x":600,"y":2540,"wires":[["11dca5b0.0d452a"]]},{"id":"ba83d1f9.90a9f","type":"node-event-subscribe","z":"3e20993d.c684a6","settings":{"nodeid":"kont6","eventName":"click","displayName":"Kontener 6 katt"},"x":600,"y":3120,"wires":[["de5d47d5.472e38"]]}]